:root{
    --color-vine: rgb(136, 14, 14);   
    --color-white: white;
    --color-blue: rgb(37, 37, 85);
    --color-orange: rgb(163, 108, 6);
    --font-size: 40pt;
    --color-grey: #e3e3e3;
    --color-orange-light:rgb(221, 145, 5);
    --font-size-theme: 30pt;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header{
    padding: 5px;
    background-color: var(--color-vine);
}
.container-header{
    width: 100%;
    margin: auto;
    color: var(--color-white);
}
nav{
    background-color: var(--color-blue);
    
}
.container-nav{
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    margin: auto;
}
.container-nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.container-nav ul li a{
    text-decoration: none;
    color: var(--color-white);
}
.container-nav ul li :hover{
    border-bottom: 2px solid rgb(20, 30, 163);
}
#banner-image{
    padding: 5px;
    background-image: url(../images/blog-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.container-banner{
    width: 100%;
    margin: 200px auto;
    text-align: center;
}
.container-banner h2{
    font-size: var(--font-size);
    color: var(--color-blue);
}

.container-banner p{
    font-size: 16pt;
    color: var(--color-white);
}
.container-informal{
    width: 80%;
    padding: 20px;
    margin: auto;
    background-color: var(--color-blue);
}
.container-informal blockquote{
    font-size: 16pt;
    font-style: oblique;
    color: var(--color-white);
}
.btn-blue{
    width: 200px;
    height: 50px;
    background-color: var(--color-vine);
    border-radius: 20px;
    color: var(--color-white);
    border: none;
}
.btn-blue:hover{
    cursor: pointer;
    background-color: rgb(156, 16, 16);

}
.container-service h2{
    
    font-size: var(--font-size-theme);
}

.container-service{
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    margin: auto;
}
.text-align{
    text-align: center;
}
.color-grey{
    background-color: var(--color-grey);
}
.service-item{
    margin-bottom: 20px;
    width: 300px;
    padding: 10px;
    box-shadow: 0px 0px 8px 0px;
    text-align: justify;
    background-color: var(--color-white);
}
.service-item img{
    width: 300px;
}
.container-services-item1{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.container-services-item2{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.btn-read{
    width: 100px;
    height: 40px;
    border: none;
    background-color: var(--color-orange);
    color: var(--color-white);
}
.btn-read:hover{
    cursor: pointer;
    background-color: rgb(179, 123, 19);
}
.container-team{
    width: 100%;
    margin: auto;
}
.container-team h2 {
    font-size: var(--font-size-theme);   
}

.container-team-item img{
    width: 200px;
}
.container-team-item{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.team-item{
    padding: 10px;
    margin-bottom: 30px;
    text-align: center;
    box-shadow: 0px 0px 2px 1px;
}
.container-about{
    text-align: justify;
    padding: 10px;
}
.container-about h2{
    font-size: var(--font-size-theme);
}
.container-about-item{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.container-text{
    margin: 20px;
}
.container-testemonial{
    width: 100%;
    margin: auto;
}
.container-testemonial h2{
    font-size: var(--font-size-theme) ;
    
}
.container-testemonial img{
    width: 200px;
}

.container-testemonial-item{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card-testemonial{
    margin: 30px 10px;
    padding: 20px;
    text-align: justify;
    box-shadow: 0px 0px 5px 0px;
}
#color-orange{
    padding: 10px;
    background-color: var(--color-orange-light);
}
.h2{
    font-size: var(--font-size-theme);
    color: var(--color-white);
}
.form-contact{
    padding: 60px 20px;
    background-color: var(--color-white);
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.input{
    width: 100%;
    margin-bottom: 20px;
    height: 30px;
    padding-left: 5px;
    border: none;
    box-shadow: 0px 1px 5px 0px;
}
.mensagem{
    width: 100%;
    height: 60px;
    padding-left: 5px;
    margin-bottom: 20px;
    box-shadow: 0px 1px 5px 0px ;
    border: none;
}
.btn-send{
    align-self: center;
    width: 100px;
    height: 40px;
    background-color: var(--color-orange);
    border: none;
    color: var(--color-white);
}
.btn-send:hover{
    cursor: pointer;
    background-color: var(--color-orange-light);
}
footer{
    padding: 30px;
    text-align: center;
    background-color: black;
    color: var(--color-white);
}
.container-footer{
    width: 1000px;
    margin:auto;
}
.container-contact{
    width: 100%;
}
@media screen and (max-width: 650px) {
    .container-header{
        text-align: center;
    }
    .container-nav ul{
        display: block;
        text-align: center;
       
        
    }
    .container-nav ul li {
        margin-bottom: 30px;
    }
    .service-item img{
        width: 100%;
    }
    .service-item{
        width: 50%;
    }
    .team-item img{
        width: 100%;
    }
    .team-item{
        width: 50%;
    }
    .container-text{
        width: 80%;
    }
    .container-image img{
        width: 100%;
    }
    .container-image{
        width: 80%;
    }
    .card-testemonial{
        width: 60%;
    }
}
